/* GOOGLE FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


@import "tailwindcss";

/* SETUP THE FONT NOW YOU CAN USE 'font-roboto' INO YOUR TAGGS*/
@theme {
  --font-roboto: "Roboto", "sans-serif";
}